{{- $researchers := . -}}

{{- if $researchers -}}
<div class="avatar-group">
  {{- range $researcher := first 4 $researchers -}}
    {{- with $avatar := $researcher.Resources.GetMatch "avatar" -}}
    <a href="{{- $researcher.RelPermalink -}}" class="avatar avatar-sm">
      <img src="{{- partial "image-avatar-lazy.html" $avatar -}}" data-src="{{- partial "image-avatar-full.html" $avatar }}" alt="Image of {{- $researcher.Title -}}" class="avatar-img rounded-circle lazy">
    </a>
    {{- else -}}
    <a href="{{- $researcher.RelPermalink -}}" class="avatar avatar-sm">
      <span class="avatar-title rounded-circle">{{- range (split $researcher.Title " ") | first 2 -}}{{- . | first 1 -}}{{- end -}}</span>
    </a>
    {{- end -}}
  {{- end -}}
  {{- if gt (len $researchers) 4 -}}
  <div class="avatar avatar-sm">
    <div class="avatar-title rounded-circle">+{{- sub (len $researchers) 4 -}}</div>
  </div>
  {{- end -}}
</div>
{{- end -}}
