{{- $researcher := . -}}
{{- $cover := .Resources.GetMatch "cover" -}}
{{- $avatar := .Resources.GetMatch "avatar" -}}

<div class="card card-fill">
  <a href="{{- $researcher.RelPermalink -}}" class="hide stretched-link"></a>
  {{- if $cover -}}
    {{- partial "card-cover.html" $cover -}}
  {{- end -}}
  <div class="card-body text-center">
    {{- if $avatar -}}
    <a href="profile-posts.html" class="avatar avatar-xl card-avatar {{- if $cover }} card-avatar-top {{- end -}}">
      <img src="{{- partial "image-avatar-lazy.html" $avatar -}}" data-src="{{- partial "image-avatar-full.html" $avatar }}" alt="Image of {{- .Title -}}" class="avatar-img rounded-circle border border-4 border-card lazy">
    </a>
    {{- end -}}
    <h2 class="card-title mb-3 researcher-name">
      <a href="{{- $researcher.RelPermalink -}}">{{- $researcher.Title -}}</a>
    </h2>
    <h5 class="card-subtitle text-muted mb-3 researcher-organization">
      {{- $organizations := partial "organization/query.html" $researcher -}}
      {{- $num_organizations := len $organizations -}}
      {{- range $i, $organization := first 1 $organizations -}}
        {{- $organization.Title -}}
      {{- end -}}
      {{- if gt $num_organizations 1 -}}
        et al.
      {{- end -}}
    </h5>
    <p class="mb-3 researcher-description">
      {{- $researcher.Description | plainify | emojify -}}
    </p>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        {{- with .Params.location -}}
        <small class="text-muted organization-location">
          <i class="fe fe-map-pin"></i>&nbsp;{{- . -}}
        </small>
        {{- end -}}
      </div>
      <div class="col-auto">
        <a href="{{- $researcher.RelPermalink -}}" class="btn btn-sm btn-primary">
          View
        </a>
      </div>
    </div>
  </div>
</div>