{{- $bib := .Params.bib -}}

{{- with $bib.institution -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Institution
      </h5>
    </div>
    <div class="col-auto">
      <small class="">
        {{- . -}}
      </small>
    </div>
  </div>
</div>
{{- end -}}
{{- with $bib.publisher -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Publisher
      </h5>
    </div>
    <div class="col-auto">
      <small class="">
        {{- . -}}
      </small>
    </div>
  </div>
</div>
{{- end -}}
{{- with $bib.location -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Location
      </h5>
    </div>
    <div class="col-auto">
      <small class="">
        {{- . -}}
      </small>
    </div>
  </div>
</div>
{{- end -}}
