{{- define "header-body" -}}
<div class="header">
  <div class="header-body">
    <h6 class="header-pretitle">
      {{ .Parent.Title }}
    </h6>
    <h1 class="header-title">
      {{- .Title -}}
    </h1>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="row">
  <div class="col-lg-4 order-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush my-n3">
          <div class="list-group-item">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0 text-muted">
                  Published
                </h5>
              </div>
              <div class="col-auto">
                <small class="">
                  {{- .PublishDate.Format "January 2, 2006" -}}
                </small>
              </div>
            </div>
          </div>
          {{- if ne .Lastmod .PublishDate -}}
          <div class="list-group-item">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0 text-muted">
                  Last modified
                </h5>
              </div>
              <div class="col-auto">
                <small class="">
                  {{- .Lastmod.Format "January 2, 2006" -}}
                </small>
              </div>
            </div>
          </div>
          {{- end -}}
        </div>
      </div>
    </div>

    <div class="sticky-top">
      {{- with $authors := partial "researcher/query.html" . -}}
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            Authors
          </h4>
        </div>
        <div class="card-body">
          {{- partial "researcher/list-group.html" $authors -}}
        </div>
      </div>
      {{- end -}}

      {{- partial "article/taxonomies.html" (dict "context" . "taxonomy" "categories") -}}
    </div>
  </div>
  <div class="col-lg-8 order-lg-0">
    {{- .Content -}}
  </div>
</div>

{{- end -}}
