{{- $class := cond .IsNamedParams (.Get "class") (.Get 0) | default "" -}}

<div class="card-header {{- with $class }} {{ . -}}{{- end -}}">
  <h3 class="card-header-title">{{- .Inner | markdownify -}}</h3>
</div>