{{- $pag := $.Paginator -}}
{{- if gt $pag.TotalPages 1 -}}
<nav aria-label="Page navigation">
  <ul class="pagination mx-auto">
    <li class="page-item {{- if not $pag.HasPrev }} disabled{{- end -}}">
      <a {{ if $pag.HasPrev -}}href="{{- $pag.Prev.URL -}}" {{ end -}} class="page-link" aria-label="Previous"><span
          aria-hidden="true">&laquo;</span></a>
    </li>
    {{- $ellipsed := false -}}
    {{- $shouldEllipse := false -}}
    {{- range $pag.Pagers -}}
      {{- $right := sub .TotalPages .PageNumber -}}
      {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
      {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
      {{- if $showNumber -}}
        {{- $ellipsed = false -}}
        {{- $shouldEllipse = false -}}
      {{- else -}}
        {{- $shouldEllipse = not $ellipsed -}}
        {{- $ellipsed = true -}}
      {{- end -}}
      {{- if $showNumber -}}
        <li class="page-item {{- if eq . $pag }} active{{- end -}}"><a class="page-link" href="{{- .URL -}}">{{- .PageNumber -}}</a>
        </li>
      {{- else if $shouldEllipse -}}
        <li class="page-item disabled"><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></li>
      {{- end -}}
    {{- end -}}
    <li class="page-item {{- if not $pag.HasNext }} disabled{{- end -}}">
      <a {{ if $pag.HasNext -}}href="{{- $pag.Next.URL -}}" {{ end -}} class="page-link" aria-label="Next"><span
          aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>
{{- end -}}
