{{- $pattern := . -}}
{{- $avatar := $pattern.Resources.GetMatch "avatar" -}}

<div class="card card-fill">
  <a href="{{- $pattern.RelPermalink -}}" class="hide stretched-link"></a>
  <div class="card-body text-center">
    {{- if $avatar -}}
    <a href="{{- $pattern.RelPermalink -}}" class="avatar avatar-xl card-avatar">
      <img src="{{- partial "image-avatar-lazy.html" $avatar -}}" data-src="{{- partial "image-avatar-full.html" $avatar }}" alt="Image of {{- .Title -}}" class="avatar-img border border-4 border-card lazy">
    </a>
    {{- end -}}
    <h2 class="card-title mb-3 motionpattern-name">
      <a href="{{- $pattern.RelPermalink -}}" data-name="{{- $pattern.Title -}}">{{- $pattern.Title -}}</a>
    </h2>
    <h5 class="card-subtitle text-muted mb-3"></h5>
    <p class="card-text motionpattern-description" data-timestamp="{{- $pattern.Description | plainify | emojify -}}">
      {{- $pattern.Description | plainify | emojify -}}
    </p>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
      </div>
      <div class="col-auto">
        <a href="{{- $pattern.RelPermalink -}}" class="btn btn-sm btn-primary">
          View
        </a>
      </div>
    </div>
  </div>
</div>