{{- $page := $.Site.GetPage "/motionpattern" -}}

{{- with $motionpatterns := where $.Site.RegularPages.ByPublishDate "Type" "motionpattern" | first 3 -}}
<section class="mb-4">
  <div class="header">
    <div class="header-body">
      <h1 class="header-title">
        {{- $page.Title -}}
      </h1>
    </div>
  </div>

  <div class="row mb-4 flex-nowrap">
    <div class="col-12">
      <div class="row flex-nowrap">
        {{- range $motionpattern := $motionpatterns -}}
        <div class="col-md-4">
          {{- partial "motionpattern/card.html" $motionpattern -}}
        </div>
        {{- end -}}
        <div class="col-md-4">
          <div class="card card-fill bg-transparent">
            <a href="{{- $page.RelPermalink -}}" class="hide stretched-link"></a>
            <div class="card-body text-center">
              <h3>Interested?</h3>
              <p class="text-muted">We have plenty more motionpatterns to show you. Why don't you come and see for yourself?</p>
              <a href="{{- $page.RelPermalink -}}" class="btn btn-outline-secondary btn-sm">View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <a href="{{- $page.RelPermalink -}}" class="btn btn-outline-primary btn-sm">View more <span class="fe fe-arrow-right"></span></a>
    </div>
  </div>

</section>
{{- end -}}
