{{- define "header-body" -}}
{{- $cover := .Resources.GetMatch "cover" -}}
{{- $avatar := .Resources.GetMatch "avatar" -}}
<div class="header-body {{- if and $avatar $cover }} mt-n5 mt-md-n6{{- end -}}">
  <div class="row align-items-end">
    {{- if $avatar -}}
      <div class="col-auto">
        <div class="avatar avatar-xxl header-avatar-top">
          <img src="{{- partial "image-avatar-lazy.html" $avatar -}}" data-src="{{- partial "image-avatar-full.html" $avatar }}" alt="Image of {{- .Title -}}" class="avatar-img rounded-circle border border-4 border-card lazy">
        </div>
      </div>
    {{- end -}}
    <div class="col mb-3 {{- if $avatar }} ml-n3 ml-md-n2{{- end -}}">
      <h6 class="header-pretitle">
        {{ .Parent.Title }}
      </h6>
      <h1 class="header-title">
        {{- .Title -}}
      </h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <ul class="nav nav-tabs nav-overflow header-tabs" id="researcherTabs">
        <li class="nav-item">
          <a href="#overview" class="nav-link active" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a href="#articles" class="nav-link" data-toggle="tab" role="tab" aria-controls="articles" aria-selected="false">
            Articles
          </a>
        </li>
        <li class="nav-item">
          <a href="#publications" class="nav-link" data-toggle="tab" role="tab" aria-controls="publications" aria-selected="false">
            Publications
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{- end -}}

{{- define "main" -}}
<div class="row">
  <div class="col-lg-4 order-lg-8">
    <div class="row sticky-top">
      <div class="col-md-6 col-lg-12">
        {{- if and .Params.website .Params.location -}}
        <div class="card">
          <div class="card-body">
            <div class="list-group list-group-flush my-n3">
              {{- with .Params.location -}}
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="mb-0 text-muted">
                      Location
                    </h5>
                  </div>
                  <div class="col-auto">
                    <small class="">
                      {{- . | markdownify -}}
                    </small>
                  </div>
                </div>
              </div>
              {{- end -}}
              {{- with .Params.website -}}
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="mb-0 text-muted">
                      Website
                    </h5>
                  </div>
                  <div class="col-auto">
                    <a href="{{- . -}}" class="small">
                      {{- . | replaceRE "^https?://([^/]+).*" "$1" -}}
                    </a>
                  </div>
                </div>
              </div>
              {{- end -}}
            </div>
          </div>
        </div>
        {{- end -}}
      </div>

      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-header-title">
              Organization
            </h4>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush my-n3">
              {{- range $organization := partial "organization/query.html" . -}}
                {{- partial "organization/list-group-item.html" $organization -}}
              {{- else -}}
                <div class="list-group-item">This researcher does not belong to any organization</div>
              {{- end -}}
            </div>
          </div>
        </div>
      </div>

      {{- if .Params.social -}}
        <div class="col-md-6 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">
                Social
              </h4>
            </div>
            <div class="card-body">
              {{- with $socials := .Params.social -}}
                <div class="btn-group">
                  {{- range $social := $socials -}}
                    <a href="{{- $social.link -}}" class="btn btn-light"><i class="fe {{ $social.icon -}}"></i></a>
                  {{- end -}}
                </div>
              {{- end -}}
            </div>
          </div>
        </div>
      {{- end -}}
    </div>
  </div>
  <div class="col-lg-8 order-lg-0">
    <div class="tab-content" id="reseacherTabsContent">
      <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        {{- .Content -}}
      </div>
      <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles">
        {{- partial "article/cards.html" (partial "article/query.html" .) -}}
      </div>
      <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications">
        {{- partial "bootstrap/feature-to-come.html" -}}
      </div>
    </div>
  </div>
</div>

{{- end -}}
