{{- define "main" -}}

<div class="mb-3">
  {{- .Content -}}
</div>

{{- range $section := .Params.sections -}}
  <div class="row">
    <div class="col-12">
      {{- partial (printf "%s/index.html" $section) $ -}}
    </div>
  </div>
{{- end -}}

{{- end -}}
