{{- define "header-body" -}}
<div class="header">
  <div class="header-body">
    <h6 class="header-pretitle">
    </h6>
    <h1 class="header-title">
      {{- .Title -}}
    </h1>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="mb-3">
  {{- .Content -}}
</div>

{{- if .Pages -}}

{{- partial "organization/cards.html" .Pages -}}

{{- else -}}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    {{- partial "bootstrap/not-found-card.html" .Title -}}
  </div>
</div>
{{- end -}}

{{- end -}}
