{{- $organization := . -}}
<div class="card card-fill">
  <a href="{{- $organization.RelPermalink -}}" class="hide stretched-link"></a>
  <div class="card-body text-center">
    {{- with $avatar := $organization.Resources.GetMatch "avatar" -}}
    <a href="{{- $organization.RelPermalink -}}" class="card-avatar avatar avatar-lg">
      <img src="{{- partial "image-avatar-lazy.html" $avatar -}}" data-src="{{- partial "image-avatar-full.html" $avatar }}" alt="Image of {{- $organization.Title -}}" class="avatar-img lazy">
    </a>
    {{- else -}}
    <div class="card-avatar avatar avatar-lg mx-auto organization-abbreviation">
      <span class="avatar-title">{{- with $organization.Params.short_title -}}{{- . -}}{{- else -}}{{- range (split $organization.Title " ") | first 2 -}}{{- . | first 1 -}}{{- end -}}{{- end -}}</span>
    </div>
    {{- end -}}
    <h2 class="mb-3 organization-name">
      <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
    </h2>
    <p class="card-text text-muted organization-description">
      {{- .Description | plainify | emojify -}}
    </p>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row align-items-center">
      <div class="col">
        {{- with .Params.location -}}
        <small class="text-muted organization-location">
          <i class="fe fe-map-pin"></i>&nbsp;{{- . -}}
        </small>
        {{- end -}}
      </div>
      <div class="col-auto">
        {{- $researchers := partial "researcher/query.html" . -}}
        {{- partial "researcher/avatar-group.html" $researchers -}}
      </div>
    </div>
  </div>
</div>
