{{- $robot := . -}}
<div class="card card-fill">
  <a href="{{- $robot.RelPermalink -}}" class="hide stretched-link"></a>
  {{- with $cover := .Resources.GetMatch "cover" -}}
    {{- partial "card-cover.html" $cover -}}
  {{- end -}}
  <div class="card-body text-center">
    <h2 class="card-title mb-3 robot-name">
      <a href="{{- $robot.RelPermalink -}}">{{- $robot.Title -}}</a>
    </h2>
    <h5 class="card-subtitle text-muted mb-3 robot-organization">
      {{- with $organizations := partial "organization/query.html" $robot -}}
        {{- $num_organizations := len $organizations -}}
        {{- range $organization := first 1 $organizations -}}
          {{- $organization.Title -}}
        {{- end -}}
        {{- if gt $num_organizations 1 -}}
          et al.
        {{- end -}}
      {{- end -}}
    </h5>
    <p class="mb-3 robot-description">
      {{- $robot.Description | plainify | emojify -}}
    </p>
    <p class="card-text robot-motionpattern">
      {{- range $pattern := partial "motionpattern/query.html" $robot -}}
      <span class="badge badge-soft-secondary">
        {{- $pattern.Title -}}
      </span>
      {{ end -}}
    </p>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
      </div>
      <div class="col-auto">
        <a href="{{- $robot.RelPermalink -}}" class="btn btn-sm btn-primary">
          View
        </a>
      </div>
    </div>
  </div>
</div>