{{- $robot := . -}}
<div class="list-group-item">
  <a href="{{- $robot.RelPermalink -}}" class="hide stretched-link"></a>
  <div class="row align-items-center">
    {{- $avatar := .Resources.GetMatch "avatar" -}}
    {{- if $avatar -}}
    <div class="col-auto">
      <div class="avatar avatar-4by3">
        <a href="{{- $robot.RelPermalink -}}">
          <img src="{{- partial "image-avatar-lazy.html" $avatar -}}" data-src="{{- partial "image-avatar-full.html" $avatar }}" alt="Image of {{- .Title -}}" class="avatar-img rounded lazy">
        </a>
      </div>
    </div>
    {{- end -}}
    <div class="col {{- if $avatar }} ml-n2{{- end -}}">
      <h4 class="mb-1">
        <a href="{{- $robot.RelPermalink -}}">{{- $robot.Title -}}</a>
      </h4>
      <p class="card-text small text-muted">
        {{- $motionpatterns := partial "motionpattern/query.html" $robot -}}
        {{- range $i, $motionpattern := $motionpatterns -}}
          {{- $motionpattern.Title -}}
          {{- if lt $i (sub (len $motionpatterns) 1 ) -}}, {{- end -}}
        {{- end -}}
      </p>
    </div>
  </div>
</div>
