{{- $article := .context -}}
{{- $tax := .taxonomy -}}
{{- if $article.GetTerms "categories" -}}
<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      {{- $tax | title -}}
    </h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{- range $category := $article.GetTerms "categories" -}}
      <a href="{{- $category.RelPermalink -}}">
        <span class="badge badge-soft-secondary">{{- $category.Title -}}</span>
      </a>
      {{- end -}}
    </p>
  </div>
</div>
{{- end -}}
