{{- $now := float ( cond .IsNamedParams (.Get "now") (.Get 0) | default 0.5 ) -}}
{{- $min := float ( cond .IsNamedParams (.Get "min") (.Get 1) | default 0.0 ) -}}
{{- $max := float ( cond .IsNamedParams (.Get "max") (.Get 2) | default 1.0 ) -}}
{{- $class := cond .IsNamedParams (.Get "class") (.Get 3) | default "" -}}
{{- $label := cond .IsNamedParams (.Get "label") (.Get 4) | default "" -}}
{{- $height := cond .IsNamedParams (.Get "height") (.Get 5) | default "" -}}
{{- $width := mul ( div $now ( sub $max $min ) ) 100.0 -}}

<div class="progress" {{- with $height }} style="height: {{- $height -}}px;"{{- end -}}>
  <div class="progress-bar {{- with $class }} {{ . -}}{{- end -}}" role="progressbar" style="width: {{- $width -}}%;" aria-valuenow="{{- $now -}}" aria-valuemin="{{- $min -}}" aria-valuemax="{{- $max -}}">{{- $label | markdownify -}}</div>
</div>
